{% extends "layout.html" %}
{% block body %}

<h3>{{session.hosts}}: {{command}}</h3>
{% if session.request_args != expression|replace("/32","")|replace("/128","") %}
<i>DNS: <a href="/whois/{{session.request_args}}" class="whois">{{session.request_args}}</a> => <a href="/whois/{{ expression|replace("/32","")|replace("/128","") }}" class="whois">{{expression|replace("/32","")|replace("/128","")}}</a></i><br />
{% endif %}<br />
<div style="display: flex; justify-content: center;">
	{{img|safe}}
</div>
<script>
const elem = document.querySelector('svg');
const view = {
	offsetX: 0,
	offsetY: 0,
	scale: 1,
	dragging: false,
	pinching: false,
	dragStartMouseX: 0,
	dragStartMouseY: 0,
	dragStartOffsetX: 0,
	dragStartOffsetY: 0,
	pinchStartDistance: 0,
	pinchStartScale: 0,
};

const update = () => {
	elem.style.transform = `translate(${view.offsetX}px, ${view.offsetY}px) scale(${view.scale})`;
};

const handleWheel = (evt) => {
	if (view.scale < evt.deltaY / 90) {
		return;
	}

	view.scale -= evt.deltaY / 90;
	update();
};

const pinchDistance = (touchEvent) => {
	return Math.abs(touchEvent.touches[0].pageX - touchEvent.touches[1].pageX) + Math.abs(touchEvent.touches[0].pageY - touchEvent.touches[1].pageY);
};

const mouseDownHandler = (evt, x, y, touchEvent) => {
	if (touchEvent && touchEvent.touches.length >= 2) {
		view.pinching = true;
		view.pinchStartDistance = pinchDistance(touchEvent);
		view.pinchStartScale = view.scale;
	}

	view.dragging = true;
	view.dragStartMouseX = x;
	view.dragStartMouseY = y;
};

const mouseMoveHandler = (evt, x, y, touchEvent) => {
	console.log(x, y);
	if (touchEvent && view.pinching) {
		evt.preventDefault();
		evt.stopPropagation();
		view.scale = view.pinchStartScale * (pinchDistance(touchEvent) / view.pinchStartDistance);
	}

	if (view.dragging) {
		evt.preventDefault();
		evt.stopPropagation();
		view.offsetX = view.dragStartOffsetX - (view.dragStartMouseX - x) / view.scale;
		view.offsetY = view.dragStartOffsetY - (view.dragStartMouseY - y) / view.scale;
		update();
	}
};

const mouseUpHandler = (evt, x, y, touchEvent) => {
	if (touchEvent) {
		view.dragging = touchEvent.touches.length >= 1;
		view.pinching = touchEvent.touches.length >= 2;
		if (view.dragging) {
			return;
		}
	}

	view.dragging = false;
};

/* initialization */

if ("ontouchstart" in document.documentElement) {
	document.body.addEventListener("touchstart", (evt) => mouseDownHandler(evt, evt.touches[0].pageX, evt.touches[0].pageY, evt));
	window.addEventListener("touchmove", (evt) => mouseMoveHandler(evt, evt.touches[0].pageX, evt.touches[0].pageY, evt));
	window.addEventListener("touchend", (evt) => mouseUpHandler(evt, evt.changedTouches[0].pageX * dpr, evt.changedTouches[0].pageY * dpr, evt));
} else {
	document.body.addEventListener("mousedown", (evt) => mouseDownHandler(evt, evt.pageX, evt.pageY));
	window.addEventListener("mousemove", (evt) => mouseMoveHandler(evt, evt.pageX, evt.pageY));
	window.addEventListener("mouseup", (evt) => mouseUpHandler(evt, evt.pageX, evt.pageY));
}

window.addEventListener("wheel", handleWheel);
</script>
<br />
{% endblock %}
